<h3>Review</h3>

<p><%= link_to 'back', root_path %>
  <% if @review.user == current_user %>
  | <%= link_to 'edit', edit_review_path(@review) %> | <%= link_to 'delete', review_path(@review), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</p>

<p>Album: <%= @review.album_name %></p>
<p>Release date: <%= @review.album_release_date %></p>
<p>Title: <%= @review.title %> - by <em><%= @review.user.name %></em></p>
<p>User Rating: <%= @review.rating %></p>
<p>Body: <%= @review.body %></p>

<p>Comments:</p>

<%= render @comments %>

<% if signed_in? %>
  <%= form_for([@review, @review.comments.build]) do |f| %>
    <%= f.text_field :body %>

    <%= f.submit "Comment" %>
  <% end %>
<% end %>